<%- include('shared/header.ejs') -%>
    <%- include('admin/adminnav.ejs') -%>
        <main>
            <h1>Admin Dashboard</h1>
            <h2>Tickets</h2>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                <!-- Use a forEach to display records -->
                <% ticketsData.forEach(ticket=> { %>
                    <tr>
                        <td>
                            <%= ticket.id %>
                        </td>
                        <td>
                            <%= ticket.name %>
                        </td>
                        <td>
                            <%= ticket.email %>
                        </td>
                        <!-- Call endpoint which will get ticketID and type of view to open -->
                        <td><a href="<%= `/openTicket/${ticket.id}/view` %>">View</a>
                            <a href="<%= `/openTicket/${ticket.id}/edit` %>">Edit</a>
                            <a href="<%= `/openTicket/${ticket.id}/delete` %>">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
            </table>

        </main>

        <%- include('shared/footer.ejs') -%>