<%- include('shared/header.ejs') -%>
    <%- include('admin/adminnav.ejs') -%>
        <main>
            <h2>
                <%= message_header %>
            </h2>
            <p>
                <%= message_body %>
            </p>
        </main>
        <%- include('shared/footer.ejs') -%>